@page "/"
@using Happy.Services
@using Happy.Services.Interfaces
@using Happy.ViewModels
@rendermode InteractiveServer

@inject IIncomeService IncomeService
@inject INeighborhoodService NeighborhoodService
@inject IParkAndFacilityService ParkAndFacilityService
@inject IPopulationService PopulationService
@inject IRentalService RentalService
@inject ISafetyService SafetyService
@inject ITransportationService TransportationService
@inject IHappyService HappyService

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="ms-3">
        <h3 class="mb-0 h4 font-weight-bolder">Happiness Dashboard</h3>
        <p class="mb-4">
            City of San Francisco / Year 2023
        </p>
    </div>
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-sm mb-0 text-capitalize">Neighborhood</p>
                        @if (HasLoaded)
                        {
                            <h5 class="mb-0">@happyNeighborhoods.Count()</h5>
                        }
                        else
                        {
                            <p class="placeholder-glow">
                                <span class="placeholder col-3"></span>
                            </p>
                        }
                    </div>
                    <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                        <i class="material-symbols-rounded opacity-10">explore_nearby</i>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
                <p class="mb-0 text-sm"><span class="text-success font-weight-bolder"></span>City of San Francisco</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-sm mb-0 text-capitalize">Population</p>
                        @if (HasLoaded)
                        {
                            <h5 class="mb-0">@populations.Sum(x => x.Population).ToString("N0")</h5>
                        }
                        else
                        {
                            <p class="placeholder-glow">
                                <span class="placeholder col-3"></span>
                            </p>
                        }
                    </div>
                    <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                        <i class="material-symbols-rounded opacity-10">diversity_3</i>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
                <p class="mb-0 text-sm"><span class="text-success font-weight-bolder"></span>for the year 2023</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-4 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-sm mb-0 text-capitalize">Rent</p>
                        @if (HasLoaded)
                        {
                            <h5 class="mb-0">@rents.Average(x => x.MonthlyRental).ToString("C0")</h5>
                        }
                        else
                        {
                            <p class="placeholder-glow">
                                <span class="placeholder col-3"></span>
                            </p>
                        }
                    </div>
                    <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                        <i class="material-symbols-rounded opacity-10">apartment</i>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
                <p class="mb-0 text-sm"><span class="text-danger font-weight-bolder"></span>per month for 1 BHK</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-4">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-sm mb-0 text-capitalize">Income</p>
                        @if (HasLoaded)
                        {
                            <h5 class="mb-0">@incomes.Average(x => x.MedianIncome).ToString("C0")</h5>
                        }
                        else
                        {
                            <p class="placeholder-glow">
                                <span class="placeholder col-3"></span>
                            </p>
                        }
                    </div>
                    <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                        <i class="material-symbols-rounded opacity-10">attach_money</i>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
                <p class="mb-0 text-sm"><span class="text-success font-weight-bolder"></span>per year</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-4">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-sm mb-0 text-capitalize">Parks</p>
                        @if (HasLoaded)
                        {
                            <h5 class="mb-0">@parkAndFacilities.Sum(x => x.ParkAndFacility).ToString("N0")</h5>
                        }
                        else
                        {
                            <p class="placeholder-glow">
                                <span class="placeholder col-3"></span>
                            </p>
                        }
                    </div>
                    <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                        <i class="material-symbols-rounded opacity-10">park</i>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
                <p class="mb-0 text-sm"><span class="text-success font-weight-bolder"></span>Park & Recreations</p>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-sm-4">
        <div class="card">
            <div class="card-header p-2 ps-3">
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-sm mb-0 text-capitalize">Commute</p>
                        @if (HasLoaded)
                        {
                            <h5 class="mb-0">@transportations.Sum(x => x.MuniStops).ToString("N0")</h5>
                        }
                        else
                        {
                            <p class="placeholder-glow">
                                <span class="placeholder col-3"></span>
                            </p>
                        }
                    </div>
                    <div class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                        <i class="material-symbols-rounded opacity-10">commute</i>
                    </div>
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-2 ps-3">
                <p class="mb-0 text-sm"><span class="text-success font-weight-bolder"></span>Muni Stops</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-0 ">Website Views</h6>
                <p class="text-sm ">Last Campaign Performance</p>
                <div class="pe-2">
                    <div class="chart">
                        <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                    </div>
                </div>
                <hr class="dark horizontal">
                <div class="d-flex ">
                    <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
                    <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4">
        <div class="card ">
            <div class="card-body">
                <h6 class="mb-0 "> Daily Sales </h6>
                <p class="text-sm "> (<span class="font-weight-bolder">+15%</span>) increase in today sales. </p>
                <div class="pe-2">
                    <div class="chart">
                        <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                    </div>
                </div>
                <hr class="dark horizontal">
                <div class="d-flex ">
                    <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
                    <p class="mb-0 text-sm"> updated 4 min ago </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mt-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h6 class="mb-0 ">Completed Tasks</h6>
                <p class="text-sm ">Last Campaign Performance</p>
                <div class="pe-2">
                    <div class="chart">
                        <canvas id="chart-line-tasks" class="chart-canvas" height="170"></canvas>
                    </div>
                </div>
                <hr class="dark horizontal">
                <div class="d-flex ">
                    <i class="material-symbols-rounded text-sm my-auto me-1">schedule</i>
                    <p class="mb-0 text-sm">just updated</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
        <div class="card">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-lg-6 col-7">
                        <h6>San Francisco Neighborhoods</h6>
                        <p class="text-sm mb-0">
                            <i class="fa fa-check text-info" aria-hidden="true"></i>
                            <span class="font-weight-bold ms-1">Top 10</span> happy neighborhoods.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                @if (HasLoaded)
                {
                    <div class="grid table-responsive">
                        <QuickGrid @ref="grid" Items="@happinessGrid" Pagination="@pagination" Class="table table-hover">
                            <PropertyColumn Property="@(p => p.NeighborhoodName)" Title="Neighborhood" Sortable="true" />
                            <PropertyColumn Property="@(p => p.EconomicScore)" Title="Economic Score" Format="N2" Align="Align.Center" Sortable="true" />
                            <PropertyColumn Property="@(p => p.SafetyScore)" Title="Safety Score" Format="N2" Align="Align.Center" Sortable="true" />
                            <PropertyColumn Property="@(p => p.EnvironmentScore)" Title="Environment Score" Format="N2" Align="Align.Center" Sortable="true" />
                            <PropertyColumn Property="@(p => p.SafetyScore)" Title="Accessibility Score" Format="N2" Align="Align.Center" Sortable="true" />
                            <TemplateColumn Context="hp" Title="Happiness" Sortable="true" SortBy="@HappinessScore">
                                <div class="progress-wrapper w-75 mx-auto">
                                    <div class="progress-info">
                                        <div class="progress-percentage">
                                            <span class="text-xs font-weight-bold">@hp.HappinessScore.ToString("P2")</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        @{
                                            string barClass;

                                            if (hp.HappinessScore >= 0.40m)
                                                barClass = "bg-gradient-info";
                                            else if (hp.HappinessScore >= 0.30m)
                                                barClass = "bg-gradient-warning";
                                            else
                                                barClass = "bg-gradient-danger"; // optional fallback

                                            var percentage = hp.HappinessScore.ToString("P2");
                                        }
                                        <div class="progress-bar @barClass"
                                             role="progressbar"
                                             aria-valuenow="@percentage.Replace("%", "")"
                                             aria-valuemin="0"
                                             aria-valuemax="100"
                                             style="width: @percentage">
                                        </div>
                                    </div>
                                </div>
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                    <Paginator State="@pagination" />
                }
                else
                {
                    <tr class="placeholder-glow">
                        <td colspan="6" class="placeholder"></td>
                    </tr>
                    <tr class="placeholder-glow">
                        <td colspan="6" class="placeholder"></td>
                    </tr>
                    <tr class="placeholder-glow">
                        <td colspan="6" class="placeholder"></td>
                    </tr>
                }

            </div>
        </div>
    </div>
</div>
@code {
    private bool HasLoaded = false;
    private IEnumerable<NeighborhoodViewModel> happyNeighborhoods = null!;
    private IEnumerable<NeighborhoodViewModel> incomes = null!;
    private IEnumerable<NeighborhoodViewModel> parkAndFacilities = null!;
    private IEnumerable<NeighborhoodViewModel> populations = null!;
    private IEnumerable<NeighborhoodViewModel> rents = null!;
    private IEnumerable<NeighborhoodViewModel> safetyAndSecurities = null!;
    private IEnumerable<NeighborhoodViewModel> transportations = null!;

    private QuickGrid<NeighborhoodViewModel>? grid;
    private PaginationState pagination = new() { ItemsPerPage = 10 };
    private GridSort<NeighborhoodViewModel> HappinessScore = GridSort<NeighborhoodViewModel>.ByDescending(p => p.HappinessScore);
    IQueryable<NeighborhoodViewModel> happinessGrid
    {
        get
        {
            return happyNeighborhoods.AsQueryable();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        happyNeighborhoods = await HappyService.GetNeighborhoodHappinessScoreAsync();

        incomes = await IncomeService.GetAllAsync();
        parkAndFacilities = await ParkAndFacilityService.GetAllAsync();
        populations = await PopulationService.GetAllAsync();
        rents = await RentalService.GetAllAsync();
        safetyAndSecurities = await SafetyService.GetAllAsync();
        transportations = await TransportationService.GetAllAsync();
        HasLoaded = true;

    }
}