@page "/Income"
@using Happy.ViewModels
@using Microsoft.AspNetCore.Components.QuickGrid
@using Happy.EFCore.Models
@using Happy.Services.Interfaces

@rendermode InteractiveServer

@inject IIncomeService IncomeService

<PageTitle>Median Income</PageTitle>

<div class="card shadow-sm">
    <div class="card-header">
        <h5 class="mb-0">Neighborhood Median Income</h5>
    </div>
    <div class="card-body">
        @if (incomes == null)
        {
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
            </p>
        }
        else
        {
            <div class="grid table-responsive">
                <QuickGrid @ref="grid" Items="@incomeGrid" Pagination="@pagination" Class="table table-hover">
                    <PropertyColumn Property="@(p => p.NeighborhoodName)" Title="Neighborhood" Sortable="true">
                        <ColumnOptions>
                            <div class="search-box">
                                <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Neighborhood name..." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn>                    
                    <PropertyColumn Property="@(p => p.MedianIncome)" Title="Median Income" Format="c0" Align="Align.Center" Sortable="true" />
                </QuickGrid>
            </div>
            <Paginator State="@pagination" />
        }
        
    </div>
</div>

@code {
    private IEnumerable<NeighborhoodViewModel> incomes = null!;

    private QuickGrid<NeighborhoodViewModel>? grid;
    private PaginationState pagination = new() { ItemsPerPage = 10 };
    string nameFilter;
    IQueryable<NeighborhoodViewModel> incomeGrid
    {
        get
        {
            var result = incomes.AsQueryable();

            if (!string.IsNullOrEmpty(nameFilter))
            {
                result = result.Where(c => c.NeighborhoodName.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));
            }

            return result;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        incomes = await IncomeService.GetAllAsync();
    }

    
}
