@page "/Population"
@using Happy.ViewModels
@using Microsoft.AspNetCore.Components.QuickGrid
@using Happy.EFCore.Models
@using Happy.Services.Interfaces

@rendermode InteractiveServer

@inject IPopulationService PopulationService

<PageTitle>Population</PageTitle>

<div class="card shadow-sm">
    <div class="card-header">
        <h5 class="mb-0">Neighborhood Population</h5>
        <label>
            The following data is based on Census Data for the year 2023. Source:
            <a href="https://data.census.gov/table/ACSDT5Y2023.B01003?q=B01003&g=040XX00US06$8600000&y=2023" target="_blank">data.census.gov</a>
        </label>
    </div>
    <div class="card-body">
        @if (populations == null)
        {
            <p class="placeholder-glow">
                <span class="placeholder col-12"></span>
            </p>
        }
        else
        {
            <div class="grid table-responsive">
                <QuickGrid @ref="grid" Items="@populationGrid" Pagination="@pagination" Class="table table-hover">                    
                    <PropertyColumn Property="@(p => p.NeighborhoodName)" Title="Neighborhood" Sortable="true">
                        <ColumnOptions>
                            <div class="search-box">
                                <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Neighborhood name..." />
                            </div>
                        </ColumnOptions>
                    </PropertyColumn>
                    <PropertyColumn Property="@(p => p.Population)" Title="Population" Format="N0" Align="Align.Center" Sortable="true"/>
                </QuickGrid>
            </div>
            <Paginator State="@pagination" />
        }
        
    </div>
</div>

@code {
    private IEnumerable<NeighborhoodViewModel> populations = null!;

    private QuickGrid<NeighborhoodViewModel>? grid;
    private PaginationState pagination = new() { ItemsPerPage = 10 };
    string nameFilter;
    IQueryable<NeighborhoodViewModel> populationGrid
    {
        get
        {
            var result = populations.AsQueryable();

            if (!string.IsNullOrEmpty(nameFilter))
            {
                result = result.Where(c => c.NeighborhoodName.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));
            }

            return result;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        populations = await PopulationService.GetAllAsync();
    }

    
}
